.panel {
  padding: 10px 15px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 5px;
  text-align: center;
}
